@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background: rgba(255, 0, 0, 0) !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Make body click-through */
}

#root {
  background: transparent !important;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  pointer-events: auto; /* Re-enable pointer events for components */
}

.bric {
  font-family: "Bricolage Grotesque", serif;
  letter-spacing: -1px;
}

.inter {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.025em;
}

.brandbg {
  background-color: rgb(242, 234, 255);
}

.brandborder {
  border-color: rgb(0, 0, 0);
}

.brandbgdark {
  background-color: rgb(31, 0, 94);
}

.brandborderdark {
  border-color: rgb(187, 154, 255);
}
